html
    head
        title= "Real time web chat"
        script(src='/js/jquery-2.1.0.js')
        script(src='/js/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        #ourAirPort
        #airPlaneModel
        #enemyAirPort
        .controls(style='clear:both;')
            | My Own Name as the Room chat ID 
            input#name(style='width:350px;')
            br
            | Person Name Who will be Talk with 
            input#personname(style='width:350px;')
            br
            input#field(style='width:350px;')
            input#send(type='button', value='send')
            input#retry(type='button', value='retry')
            input#startGame(type='button', value='start')
        script(src='/js/ui.js')
        script(src='/js/game.js')
