html
    head
        title= "Real time web chat"
        script(src='/js/jquery-2.1.0.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        #ourAirPort
        #airPlaneModel
        #enemyAirPort
        .controls(style='clear:both;')
            | My Id as A player:  
            input#selfId(style='width:350px;')
            br
            | Component Id as A player:  
            input#opponentId(style='width:350px;')
            br
            | Shoot First 
            input(type='radio' name='playSeq', value=1, checked="checked")
            | Shoot Second 
            input(type='radio' name='playSeq', value=2)
            br
            | vertical position (min 1, max 9) 
            input#vPos(style='width:20px')
            | horizontal position (min 1, max 9) 
            input#hPos(style='width:20px')
            br
            input#send(type='button', value='shoot', disabled='disabled')
            input#retry(type='button', value='retry')
            input#startGame(type='button', value='start')

        script(src='/js/ui.js')
        script(src='/js/game.js')
        script(src='/js/chat.js')
